body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0f0f3d;
    color: #fff;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #14145a;
    padding: 10px 0;
    text-align: center;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: inline;
    margin-right: 15px;
}

#navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}